
<!-- <div class="col-md-7" >
template Driven Form
<form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm.value)" >
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name" name="firstName" ngModel >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name" name="lastName" ngModel>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Languages</label>
    <select name="languages" multiple class="form-control" id="exampleFormControlSelect2" ngModel >
      <option value="java" >java</option>
      <option value="angular">angular</option>
      
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div> -->



<div class="col-md-7" >
  Model Driven Form
  <form [formGroup]="formProp" (ngSubmit)="onSubmit(formProp.value)" >
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name" name="firstName" formControlName="firstName" >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name" name="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Languages</label>
      <select name="languages" multiple class="form-control" id="exampleFormControlSelect2" formControlName="languages">
        <option value="java" >java</option>
        <option value="angular">angular</option>
        
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formProp.valid" >Submit</button>
  </form>
  
  </div>